<a href="https://colab.research.google.com/github/EfrainSD/Python-Learning-Notebooks/blob/main/Chapter11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 11: Lists

<h1>Browse List</h1>

In [ ]:
numbers = [17, 123]
numbers[9-8]

123

In [1]:
horsemen = ["war", "famine", "death"]
for i in [0,1,2]:
  print(horsemen[i])

print("\nfor each\n")

for i in horsemen:
  print(i)

war
famine
death

for each

war
famine
death

<h1>Lists are Mutable</h1>

In [ ]:
my_list = ["T", "E", "S", "T"]
my_list[2] = "X"
my_list

['T', 'E', 'X', 'T']

In [ ]:
a_list = ["a", "b", "c", "d", "e", "f"]
a_list[1:3] = ["x", "y"]
a_list

['a', 'x', 'y', 'd', 'e', 'f']

<h1> Elements can be deleted </h1>

In [ ]:
a_list = ["a", "b", "c", "d", "e", "f"]
del a_list[1:5]
a_list

['a', 'f']

<h1> Objects and References </h1>

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a == b)
print(a is b)

True
False

If we equate one list to another, both point to the same object.

In [ ]:
a = [1, 2, 3]
b = a
print(a is b)

b[0] = 5
print(a)

True
[5, 2, 3]

To clone it, we use [:]

In [ ]:
a = [1, 2, 3]
b = a[:]
b

[1, 2, 3]

<h1> List methods </h1>

Add

In [ ]:
mylist = []
mylist.append(5)
mylist.append(3)
mylist.append(12)
mylist

[5, 3, 12]

Insert in a position

In [ ]:
mylist.insert(1, 9)
mylist

[5, 9, 3, 12]

Count how many times a value appears

In [ ]:
mylist.count(12)

1

Put a list at the end.

In [ ]:
mylist.extend([5, 9, 5, 11]) # Put whole list onto end of mylist
mylist

[5, 9, 3, 12, 5, 9, 5, 11]

Find the index of the first 12 in the list

In [ ]:
mylist.index(12)

3

Flips the list

In [ ]:
mylist.reverse()
mylist

[5, 9, 3, 12, 5, 9, 5, 11]

Sort the list

In [ ]:
mylist.sort()
mylist

[3, 5, 5, 5, 9, 9, 11, 12]

Remove the first 12 from the list

In [ ]:
mylist.remove(12)
mylist

[3, 5, 5, 5, 9, 9, 11]

<h1>Matrices</h1>

In [ ]:
mx = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
mx

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]