<a href="https://colab.research.google.com/github/EfrainSD/Python-Learning-Notebooks/blob/main/Chapter7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 7: Iteration

<h1>  </h1>

<h1> Table in the same row <h1>

In [ ]:
for i in range(1,7):
  print(2*i, end = "   ")

2   4   6   8   10   12

<h1> Break </h1>

Useful when we want to exit a loop

In [ ]:
for i in [12, 16, 17, 24, 29]:
  if i % 2 == 1: # If the number is odd
    break # ... immediately exit the loop
  print(i)
print("done")

12
16
done

An example of using Break

In [ ]:
import random # Cover random numbers in the
rng = random.Random() # Modules chapter, so peek ahead.
number = rng.randrange(1, 1000) # Get random number between [1 and 1000).

guesses = 0
msg = ""

while True:
  guess = int(input(msg + "\nGuess my number between 1 and 1000: "))
  guesses += 1

  if guess > number:
    msg += str(guess) + " is too high.\n"
  elif guess < number:
    msg += str(guess) + " is too low.\n"
  else: break

input("\n\nGreat, you got it in {0} guesses!\n\n".format(guesses))

Guess my number between 1 and 1000: 10
10 is too low.

Guess my number between 1 and 1000: 500
10 is too low.
500 is too high.

Guess my number between 1 and 1000: 350
10 is too low.
500 is too high.
350 is too high.

Guess my number between 1 and 1000: 200
10 is too low.
500 is too high.
350 is too high.
200 is too high.

Guess my number between 1 and 1000: 150
10 is too low.
500 is too high.
350 is too high.
200 is too high.
150 is too high.

Guess my number between 1 and 1000: 100
10 is too low.
500 is too high.
350 is too high.
200 is too high.
150 is too high.
100 is too high.

Guess my number between 1 and 1000: 50
10 is too low.
500 is too high.
350 is too high.
200 is too high.
150 is too high.
100 is too high.
50 is too low.

Guess my number between 1 and 1000: 75
10 is too low.
500 is too high.
350 is too high.
200 is too high.
150 is too high.
100 is too high.
50 is too low.
75 is too high.

Guess my number between 1 and 1000: 60
10 is too low.
500 is too high.
350 is too high.
200 is too high.
150 is too high.
100 is too high.
50 is too low.
75 is too high.
60 is too low.

Guess my number between 1 and 1000: 70
10 is too low.
500 is too high.
350 is too high.
200 is too high.
150 is too high.
100 is too high.
50 is too low.
75 is too high.
60 is too low.
70 is too high.

Guess my number between 1 and 1000: 65
10 is too low.
500 is too high.
350 is too high.
200 is too high.
150 is too high.
100 is too high.
50 is too low.
75 is too high.
60 is too low.
70 is too high.
65 is too low.

Guess my number between 1 and 1000: 68


Great, you got it in 12 guesses!

11

'11'

<h1> Continue </h1>

If you put continue, it skips the rest of the loop and moves on to the next iteration.

<h1> Matched Data </h1>

In [ ]:
celebs = [("Brad Pitt", 1963), ("Jack Nicholson", 1937),("Justin Bieber", 1994)]

# We can print only the name
for (nm, yr) in celebs:
  if yr < 1980:
    print(nm)

Brad Pitt
Jack Nicholson

In [ ]:
students = [
    ("John", ["CompSci", "Physics"]),
    ("Vusi", ["Maths", "CompSci", "Stats"]),
    ("Jess", ["CompSci", "Accounting", "Economics", "Management"]),
    ("Sarah", ["InfSys", "Accounting", "Economics", "CommLaw"]),
    ("Zuki", ["Sociology", "Economics", "Law", "Stats", "Music"])]

# Print all students with a count of their courses.
for (name, subjects) in students:
  print(name, "takes", len(subjects), "courses")

John takes 2 courses
Vusi takes 3 courses
Jess takes 4 courses
Sarah takes 4 courses
Zuki takes 5 courses